@keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .animation {
    position: relative;
    z-index: 0;
    border-radius: 29px;
    overflow: hidden;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .animation::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    border-radius: 25px;
    background-color: rgb(9, 174, 192);
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#fe0920, #fe0920, #f645fa, #0d6efd);
    animation: rotate 8s linear infinite;
  }
  
  .animation::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #004046;
    border-radius: 25px;
  }
  
  .popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    background: rgba(0, 64, 70, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popupContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    height: 419px;
    border-radius: 16px;
    position: relative;
    text-align: center;
  }
  
  .projects {
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 23;
    overflow-y: scroll;
    height: 74%;
    width: 23%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 7px;
  }
  
  .projectLink {
    display: block;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 85%;
  }
  
  .projectImg {
    width: 100%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .projectLink:hover .projectImg {
    transform: scale(1.1);
  }
  
  .closeButton {
    position: absolute;
    top: 17px;
    right: 17px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ff7d00;
    z-index: 22;
    background: none;
    border: none;
  }

  .imageWrapper {
    position: relative;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .hireMeBgImgContainer {
    position: absolute; 
    width: calc(100% - 8px); 
    height: calc(100% - 8px);
    top: 4px; 
    left: 4px;
    z-index: 20;
    border-radius: 21px; 
    overflow: hidden; 
  }
  
  .popupContent {
    font-size: 1.2rem;
    color: #faefe0;
    z-index: 22;
  }
  
  .hireMeButton {
    display: inline-block;
    color: #faefe0;
    padding: 6px 0.7rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 2.5rem;
    margin-right: 16rem;
    box-shadow: 0 4px 10px #0000005c;
    transition: transform 0.2s ease-in-out;
  }
  
  .hireMeButton:hover {
    transform: scale(1.05);
  }
  
  .hireMeButtonImg {
    width: 80px;
    height: 30px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .popupContainer {
      padding: 1.5rem;
    }
  }

  @media (max-width: 600px) {    
    .popupContainer {
      width: 350px;
      height: 295px;
    }
    
    .closeButton {
        top: 9px;
        right: 8px;
        font-size: 1.2rem;
    }
    
    .projects {
        right: 40px;
    }
    .hireMeButton {
      margin-bottom: 1.5rem;
      margin-right: 11rem;
    }
    .hireMeButtonImg {
      width: 60px;
      height: 20px;
    }
  }