
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
  
 
    display: flex;
    justify-content: center;
    align-items: center;
  }

.section {
    padding: 2rem 1rem;
    width: 100%;
    max-width: 1250px;
    text-align: center;
    margin-top: 60px;
  }
  
  .sectionTitle {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-active);
  }
  
  .subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: var(--text-muted);
  }


  
  .loaderWrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .cardLoading {
    width: 100%;
    max-width: 300px;
    height: 220px;
    border-radius: 1rem;
    background: linear-gradient(100deg, #e0e0e0 30%, #f0f0f0 50%, #e0e0e0 70%);
    background-size: 400% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -400% 0;
    }
    100% {
      background-position: 400% 0;
    }
  }
  
  .card {
    background-color: var(--card-bg);
    padding: 3.5rem 1.5rem 1.5rem;
    color: var(--card-text);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 0.3s ease;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    position: relative;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .avatar {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid var(--card-bg); /* Kenar düzgün dursun */
    background-color: var(--card-bg); /* Tema uyumlu zemin */
    z-index: 2;
  }
  
  .name {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .role {
    font-size: 0.8rem;
    color: var(--color-active);
    margin-bottom: 12px;
  }
  
  .summary {
    font-size: 0.95rem;
    line-height: 1.5;
    color: var(--card-text);
  }
  
  .stars {
    margin-top: auto;
    color: gold;
  }
