
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-active: #33bbc5;
  --color-hover: #ff8300;
}
.dark {
  --color-active: #ff8300;
  --color-hover: #33bbc5;
}


body {
  @apply bg-white text-black transition-colors duration-300;
}

.dark body {
  @apply bg-primary text-white;
}