
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-active: #1c8288;
  --color-hover: #ff8300;
  --color-hover-darker: #b95e00;
  --color-active-darker: #1c8288;

}
.dark {
  --color-active: #ff8300;
  --color-active-darker: #b95e00;
  --color-hover: #1c8288;
}


body {
  @apply bg-white text-black transition-colors duration-300;
}

.dark body {
  @apply bg-primary text-white;
}