.section {
    @apply px-4 py-16 sm:px-6 lg:px-8;
    background-color: var(--bg);
    color: var(--text);
  }
  
.wrapper {
    @apply max-w-5xl mx-auto flex flex-col md:flex-row md:p-[24px] gap-6 justify-center items-center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 12px;
    padding: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1rem;
    background-color: var(--background);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    min-width: 300px;
    max-width: 500px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  .inputGroup label {
    font-weight: 600;
    color: var(--color-active);
  }
  
  .inputGroup input,
  .inputGroup textarea {
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    font-size: 1rem;
    transition: border 0.2s ease;
  }
  
  .dark .inputGroup input,
  .dark .inputGroup textarea {
    background-color: #1e1e1e;
    color: #f0f0f0;
    border-color: #444;
  }
  
  .inputGroup input:focus,
  .inputGroup textarea:focus {
    outline: none;
    border-color: var(--color-hover);
  }
  
  .button {
    background-color: var(--color-active-darker);
    color: white;
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--color-hover);
  }
  
/* INFO css */
  .infoBox {
    @apply flex flex-col justify-center;
    width: 400px;
  }
  
  @media (max-width: 768px) {
      .infoBox {
        width: 90%;
        min-width: 300px;
        max-width: 500px;
        padding: 6px
      }
      
  }
  
  .heading {
    @apply text-3xl font-bold mb-4;
    color: var(--color-active);
}

.description {
    @apply text-base mb-6 leading-relaxed;
}

.emailLink {
    @apply inline-flex items-center gap-2 font-medium transition-colors duration-300;
    color: var(--color-lighter);
  }
  
  .emailLink:hover {
    color: var(--color-hover);
  }
  
  .icon {
    font-size: 1.2rem;
    max-width: 19px;
  }
  