.footer {
    padding: 2rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    background-color: var(--color-active-darker); /* light mode turuncu */
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .dark .footer {
    background-color: var(--color-hover); /* dark mode mavi */
  }
  
  .container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  .link:hover {
    color: #585858;
  }
  
  .social {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .icon {
    font-size: 1.2rem;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .icon:hover {
    transform: scale(1.2);
    color: #585858;

  }
  
  .copyright {
    grid-column: 1 / -1;
    margin-top: 1rem;
    color: #ffff;
  }
  